/* Tag rules */
tr{
    background-color: white;
    color:black;

}

td{
    padding: 5px;
}

body{
    font-family: "American Typewriter";
}

th{
    text-align: left;
}

table{
    border-spacing: 0;

}


/* Class rules */
.header{
    background-color: darkgreen;
    color: white;
}

.dark{
    background-color: aqua;
}

/* ID rules */