/* Tag rules */
tr{
    background-color: white;
    color:black;
}


/* Class rules */
.header{
    background-color: darkgreen;
    color: white;
}

.dark{
    background-color: aqua;
}

/* ID rules */